
//   Анимация выпадения меню
  @keyframes showAnim {
    10%{
      opacity: 1;
      left: -100%;
      top: -100%;
      border-radius: 100%;
      width: 100%;
      height: 100%;
    }
40%{
  left: -100%;
  top: 0;
  bottom: 10%;
  border-radius: 100%;
}
60%{
  left: -100%;
  top: 0;
  bottom: 30%;
  border-radius: 100%;
}
80%{
  left: -100%;
  top: 0;
  bottom: 50%;
  border-radius: 100%;
}
90%{
  left: -100%;
  top: 0;
  bottom: 70%;
  border-radius: 100%;
}
   100%{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 0;
     bottom: 100%;
     opacity: 1;
   }
     } 
     /* === Анимаия кнопки закрытия меню === */
     @keyframes show {
        from{
        //   visibility: visible;
          bottom: -50px;
        }
        to{
        //   visibility: visible !important;
          bottom: 15px;
        }
      }

     /* === Обратная анимаия при закрытии меню === */
     @keyframes showRew {
        from{
        //   visibility: visible;
            bottom: 15px;
        }
        to{
        //   visibility: visible;
            bottom: -50px;
        }
      }

     /*  Анимация закрытия меню при нажатии на крестик  */
@keyframes menuCloseAnim{
      from{
        bottom: 0;
      }
      50%{
        top: -100%;
      }
      80%{
         top: -100%;
     
      }
      90%{
          top: -100%;
      }
      to{
        display: none;
        top: -100%;
      }
    }

//  Анимация при ховере кнопки закрыть в меню
@keyframes closeBefore{
    from{
      transform: rotate(45deg);
    }
    to{
      transform: rotate(225deg);
    }
  }
 //  Анимация при ховере кнопки закрыть в меню
  @keyframes closeAfter{
    from{
      transform: rotate(-45deg);
    }
    to{
      transform: rotate(-225deg);
    }
  }
  



// Анимация пунктов меню LI
    @keyframes animShowLi-1{
        from{
          transform: translateY(-200%);
        }
        to{
         transform: translateY(0);
        }
      }
   
      
   @keyframes animShowLi-2{
       from{
         transform: translateY(-300%);
         opacity: 0;
       }
       70%{
         opacity: 0;
       }
       to{
        transform: translateY(0);
       }
     }
   @keyframes animShowLi-3{
       from{
         transform: translateY(-400%);
         opacity: 0;
       }
       70%{
         opacity: 0;
       }
       to{
        transform: translateY(0);
       }
     }